.vscode
.sass-cache
Gemfile.lock
www/_site
www/resources
www/public

www/data/json/*
www/data/phenotype.csv
www/data/data_file_links.csv
!www/data/json/.gitkeep

www/api/v*/*
!www/api/v1.0/*
!www/api/v*/.gitkeep

data/*csv
data/*json
!data/phenotype.csv
!data/sanger_ids_key.csv
