
{{define "main"}}

  <div id="swagger-ui"></div>

  {{ $swagger_ui_bundle  := resources.Get "js/vendor/swagger-ui/swagger-ui-bundle.js" | minify | fingerprint }}
  {{ $swagger_ui_standalone  := resources.Get "js/vendor/swagger-ui/swagger-ui-standalone-preset.js" | minify | fingerprint }}
  <script src="{{$swagger_ui_bundle.Permalink}}"></script>
  <script src="{{$swagger_ui_standalone.Permalink}}"></script>

  <script>
    window.onload = function () {
      const ui = SwaggerUIBundle({
        url: "./openapi.json",
        dom_id: '#swagger-ui',
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      })
      window.ui = ui
    }
  </script>
{{end}}
